# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
*node_modules/

# crypto identities ignoring
/network/organizations/ordererOrganizations
/network/organizations/peerOrganizations
/network/organizations/fabric-ca/hosp*
/network/organizations/fabric-ca/orderer*

.vagrant
